<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD product</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
       <header class="Main-Header">
             <nav  class="Main-Header_nav">
                 <ul class="Main-Header_item_list">
                    <li class="Main-Header_item"><a href="/">shop</a></li>
                    <li class="Main-Header_item"><a href="/admin/add-product">add-product</a></li>
                    <li class="Main-Header_item"><a href="/contactus">ContactUs</a></li>
                 </ul>
             </nav>
       </header>
       <main>
             <h1>
                Products
             </h1>
       </main>
</body>
</html>